.c_cards_container {
  min-height: 63.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c_cards_container h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.2rem;
  text-align: center;
  color: #9d1900;
}

.c_cards_container h2 {
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #9d1900;
  font-size: 1.6rem;
  font-style: italic;
}

.c_cards_container span {
  border-bottom: 1px solid #9d1900;
}

.c_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
