<footer>
  <div class="footer_links">
    <div class="footer_links_contact">
      <div class="footer_links_contact_items">
        <img src="../../../assets/logo/logo.png" alt="logo">
        <p>Vedang Jyotish</p>
      </div>
      <div class="footer_links_contact_items">
        <img src="../../assets/icons/location.svg" alt="">
        <p>12, New Delhi - 110011</p>
      </div>
      <div class="footer_links_contact_items">
        <a href="tel:+919252513320"><img src="../../../assets/icons/telephone.png" alt=""></a>
        <a href="tel:+919252513320"> + 91 925 251 3320</a>
      </div>
      <div class="footer_links_contact_items">
        <a href="mailto:vedangjyotishweb@gmail.com"><img src="../../../assets/icons/email.svg" alt=""></a>
        <a href="mailto:vedangjyotishweb@gmail.com">vedangjyotishweb&#64;gmail.com</a>
      </div>
    </div>
    <div class="footer_link_links">
      <a href="">Our Courses</a>
      <a href="">Lal Kitab</a>
      <a href="">KP Astrology</a>
      <a href="">BN Astrology</a>
      <a href="">Medical Astrology</a>
      <a href="">Numerology</a>
      <a href="">See complete list</a>
    </div>
    <div class="footer_quick_links">
      <a href="">Quick Links</a>
      <a href="">List of all services</a>
      <a href="">Blogs</a>
      <a href="">Account</a>
      <a href="">Appointment</a>
    </div>
  </div>
  <div class="footer_policy">
    <a href="">Help</a>
    <a href="">Terms and Services</a>
    <a href="">Privacy Policy</a>
    <a href="">Refund Policy</a>
  </div>
  <p class="copyright">All rights reserved &#169; Vedang Jyotish</p>
</footer>
