<div class="card" (click)="onSelectCard()">
  <div class="card_pic">
    <img [src]="imagePath"
      [alt]="alt"
    />
  </div>
  <div class="card_labels">
    <div class="card_label">{{ name }}</div>
    <div class="c_rating">{{ rating | number: '1.1-1' }}</div>
  </div>
  <div class="c_highlights">
    <ul>
      <li>{{ highlights[0] }}</li>
      <li>{{ highlights[1] }}</li>
      <li>{{ highlights[2] }} ... and many <span><a class="c_more" [routerLink]="['/course', cid, 'tabs', '0']">more</a></span></li>
    </ul>
  </div>
  <div class="c_tagline">
    <div class="book_icon"><img src="../../../assets/ccards/img/book.svg" alt="book icon"></div>
    <div class="taglines">
      <div>{{ taglines[0] }}</div>
      <div>{{ taglines[1] }}</div>
    </div>
  </div>
  <div class="ccard_footer">
    <div class="c_price">&#8377; {{ price }}/-</div>
    <div *ngIf="isEnrolled; else notEnrolled" class="enrolled-status">
      <i class="fas fa-check-circle"></i>
      <span>Enrolled</span>
      <button class="btn btn-primary" routerLink="/dashboard/my-courses">
        Go to Course
      </button>
    </div>
    <ng-template #notEnrolled>
      <div class="enroll_btn" (click)="$event.stopPropagation(); enrollNow()">
        Enroll Now
      </div>
    </ng-template>
  </div>

  <!-- Feedback Modal -->
  <div *ngIf="showModal" class="card-modal" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <p>{{ modalMessage }}</p>
      <div class="modal-actions" *ngIf="isInCart">
        <button class="modal-btn" (click)="$event.stopPropagation(); goToCart()">Go to Cart</button>
        <button class="modal-btn secondary" (click)="$event.stopPropagation(); closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
