<div class="about">
  <div class="img_holder">
    <img src="../../assets/about/img/portrait2.png" alt="">
  </div>
  <div class="about_contents">
    <h1>About Vedang Jyotish</h1>
    <p><b><em>Shiv Purshotam Sharma</em></b>, also known as Shiv Purushottam Sharma, is a renowned KP Astrologer with over 9 years of experience in the field of astrology and occult science. He offers valuable consultations, specializing in Nakshatra analysis, Past Life analysis, and Prashna Analysis. Shiv Purshotam Sharma respectfully welcomes all astrology lovers and colleagues to this website</p>
    <p>Indian astrology is based on the sidereal zodiac, which differs from the tropical zodiac used in Western astrology. Another key difference between Western and Indian astrology is the focus on different celestial bodies; Western astrology emphasizes Sun signs, whereas Indian astrology relies on Moon signs for its interpretations.</p>
    <p>In addition to consultations, we offer a comprehensive “Learn KP Astrology Course Online.” This course is designed for both beginners and advanced practitioners, providing in-depth knowledge and practical skills in KP astrology. Join us to explore the fascinating world of astrology and unlock the secrets of the cosmos.</p>
  </div>
</div>
