<div class="coursesContainer">
  <div class="courses_container">
    <div class="courses_header">
      <div class="header-left">
        <div class="user_avatar" *ngIf="user">
          <img *ngIf="user.profileImage" [src]="user.profileImage" [alt]="user.name" class="clipped">
          <ng-container *ngIf="!user.profileImage">{{ userInitial }}</ng-container>
        </div>
        <div class="user_text">
          <div class="user_welcome">
            <h1>{{ welcomeMessage }}</h1>
          </div>
        </div>
      </div>
      <div class="header-right" *ngIf="user">
        <a routerLink="/students/logout" class="logout-btn">Logout</a>
      </div>
    </div>
    <!-- courser header ends -->
    <div class="course_banner">
      <div class="banner_text">
        <h1>Great courses</h1>
        <p>Change your destiny</p>
        <p>Learn & Grow</p>
      </div>
      <div class="banner_portrait">
        <img src="../../assets/about/img/portrait2.png" alt="">
      </div>
    </div>
    <!-- banner ends -->
    <div class="courses_content">
      @for (d of data; track d.cid ) {
      <app-card 
         [cid]="d.cid" 
         [name]="d.name" 
         [alt]="d.alt" 
         [img]="d.img" 
         [rating]="d.rating" 
         [highlights]="d.highlights" 
         [taglines]="d.tagline" 
         [price]="d.price"
         [modules]="d.mods"></app-card>
      }
    </div>
  </div>
</div>
