<!-- <div [style.paddingTop]="paddingTop()"> -->
<div class="slideMenu" [style.display]="slideMenuShow()">
  <div class="slide_menu_header_left">
    <img class="slide_logo" src="../../../assets/logo/logo.png" alt="logo">
    <div class="slide_header_text">
      <h1>Vedang Jyotish</h1>
    </div>
  </div>
  <div class="header_right">
    <div class="header_hamburger_slideUp" (click)="onSlideHamClick($event)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
</div>
<!-- slide menu ends here -->
<div class="slideUp" [style.display]="slideUpShow()">
  <header class="header">
    <div class="header_left">
      <img src="../../../assets/logo/logo.png" alt="logo">
      <div class="header_text">
        <h1>Vedang Jyotish</h1>
        <span>Learn Astrology Online</span>
      </div>
    </div>
    <div class="header_right">
      <a href=""><img src="../../../assets/icons/telephone.png" alt=""></a>
      <a href=""> + 91 925 251 3320</a>
      <a href="https://www.whatsapp.com/channel/0029VaAlXHN42DchBmD3PW20" target="_blank"><img src="../../../assets/icons/wa.svg" alt=""></a>
      <a href=""><img src="../../../assets/icons/telegram.svg" alt=""></a>
      <a href=""><img src="../../../assets/icons/insta.svg" alt=""></a>
      <a href=""><img src="../../../assets/icons/x.svg" alt=""></a>
      <a href=""><img src="../../../assets/icons/fb.svg" alt=""></a>
      <a href=""><img src="../../../assets/icons/yt.png" alt=""></a>
    </div>
    <div class="header_hamburger" (click)="onHamClick($event)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </header>
  <div class="mobile_temp_menu" [class.active]="active === true">
    <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onHamClick($event)">Home</a>
    <a routerLink="/courses" routerLinkActive="active" (click)="onHamClick($event)">Courses</a>
    <a routerLink="/services" routerLinkActive="active" (click)="onHamClick($event)">Services</a>
    <a routerLink="/blogs" routerLinkActive="active" (click)="onHamClick($event)">Blogs</a>
    <a routerLink="/appointment" routerLinkActive="active" (click)="onHamClick($event)">Appointment</a>
    <a routerLink="/aboutus" routerLinkActive="active" (click)="onHamClick($event)">About us</a>
    <a routerLink="/contactus" routerLinkActive="active" (click)="onHamClick($event)">Contact us</a>
    <a routerLink="/myaccount" routerLinkActive="active" (click)="onHamClick($event)">My Account</a>
    <a routerLink="/cart" routerLinkActive="active" (click)="onHamClick($event)">Cart</a>
    <div class="mobile_menu_sm">
      <!-- item1 -->
      <div class="m_menu_contact">
        <div class="m_menu_contact_phone">
          <a href="tel:+919252513320"><img src="../../../assets/icons/telephone.png" alt=""></a>
          <a href="tel:+919252513320"> + 91 925 251 3320</a>
        </div>
        <div class="m_menu_contact_email">
          <a href="mailto:vedangjyotishweb@gmail.com"><img src="../../../assets/icons/email.svg" alt=""></a>
          <a href="mailto:vedangjyotishweb@gmail.com">vedangjyotishweb&#64;gmail.com</a>
        </div>
      </div>
      <!-- item2 -->
      <div class="m_menu_sm_links">
        <a href="https://www.whatsapp.com/channel/0029VaAlXHN42DchBmD3PW20"><img src="../../../assets/icons/wa.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/telegram.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/insta.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/x.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/fb.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/yt.png" alt=""></a>
      </div>
      <!-- sm_links ends -->
    </div>
    <!-- mobile_menu_sm ends -->
  </div>
  <div class="d_menu">
    <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/aboutus" routerLinkActive="active">About us</a>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
    <a routerLink="/services" routerLinkActive="active">Services</a>
    <a routerLink="/appointment" routerLinkActive="active">Appointment</a>
    <a routerLink="/blogs" routerLinkActive="active">Blogs</a>
    <a routerLink="/contactus" routerLinkActive="active">Contact us</a>
    <a routerLink="/myaccount" routerLinkActive="active">My Account</a>
    <a routerLink="/cart" routerLinkActive="active">Cart</a>
  </div>
</div>
