<p>development works!</p>
<div>
  <img src="../../assets/icons/right-arrow@0.5x.png" alt="" class="animated_arrow">
</div>


<div class="tab__container">
  <div class="tab-bar">
    <input type="radio" name="tab" id="tab1" class="tab-input" checked>
    <label for="tab1" class="tab">Tab 1</label>

    <input type="radio" name="tab" id="tab2" class="tab-input">
    <label for="tab2" class="tab">Tab 2</label>

    <input type="radio" name="tab" id="tab3" class="tab-input">
    <label for="tab3" class="tab">Tab 3</label>
  </div>
</div>
