<header class="header">
  <div class="header_left">
    <img src="../../../assets/logo/logo.png" alt="logo">
    <div class="header_text">
      <h1>Vedang Jyotish</h1>
      <span>Learn Astrology Online</span>
    </div>
  </div>
  <div class="header_right">
    <a href="" class="helper"><img src="../../../assets/icons/telephone.svg" alt=""><span> + 91 925 251 3320</span></a>
    <a href=""><img src="../../../assets/icons/wa.svg" alt=""></a>
    <a href=""><img src="../../../assets/icons/telegram.svg" alt=""></a>
    <a href=""><img src="../../../assets/icons/insta.svg" alt=""></a>
    <a href=""><img src="../../../assets/icons/x.svg" alt=""></a>
    <a href=""><img src="../../../assets/icons/fb.svg" alt=""></a>
    <a href=""><img src="../../../assets/icons/yt.svg" alt=""></a>
  </div>
</header>
