<div class="aboutusContainer">
  <div class="about_us_container">
    <section class="about_us_vision">
      <!-- vision text block starts here -->
      <div class="about_us_vision_texts vision">
        <p>Our mission and vision</p>
        <article>"At Vedang Jyotish, we aim to empower individuals with the wisdom of astrology, guiding them on a journey of self-discovery and practical life improvement. Our mission is to provide insightful, accessible astrology education for anyone looking to explore the stars’ impact on their life."
        </article>
        <p>We envision a world where everyone has the tools for self-understanding and positive change. Through our courses and remedies, we strive to help our students make informed, meaningful choices and live more fulfilling lives</p>
        <img class="about_us_img image-1" src="../../assets/aboutus/mission.png" alt="">
      </div>
      <!-- vision text block ends here -->
      <!-- vision text block starts here -->
      <div class="about_us_vision_texts_2 who">
        <p>Who We Are</p>
        <article>"Our team of dedicated astrologers and educators is passionate about sharing ancient astrological wisdom with modern learners. We bring years of study, practice, and love for astrology to provide a transformative learning experience."
        </article>
        <p>Our instructors are seasoned professionals with a deep understanding of astrological principles and extensive experience guiding students and clients toward clarity and personal growth. Beyond teaching, we are committed to offering practical solutions through tailored astrological remedies, addressing life’s challenges in a balanced, meaningful way</p>
        <img class="about_us_img image-2" src="../../assets/aboutus/who.svg" alt="">
      </div>
      <!-- vision text block ends here -->
      <!-- vision text block starts here -->
      <div class="about_us_vision_texts vision">
        <p>Our Services and Approach</p>
        <article>"Our astrology courses are designed for students of all levels, with a focus on real-world applications. We believe in a hands-on approach that enables our students to read their charts, understand planetary influences, and apply these insights daily"
        </article>
        <p>We provide personalized remedies that draw from astrological insights to help overcome obstacles and restore harmony. Each remedy is carefully crafted to suit individual needs and create positive change</p>
        <img class="about_us_img image-1" src="../../assets/aboutus/chakra.jpg" alt="">
      </div>
      <!-- vision text block ends here -->
      <!-- vision text block starts here -->
      <div class="about_us_vision_texts_2 who">
        <p>Why Choose Us?</p>
        <article>"With years of expertise in astrology, we provide personalized, high-quality guidance in both our courses and remedies, ensuring our students feel supported every step of the way"</article>
        <p>When you join us, you become part of a community of like-minded individuals, where learning and growth continue beyond the classroom. Our approach to astrology is grounded, practical, and holistic, blending ancient wisdom with modern applications to help you live a balanced and meaningful life.</p>
        <img class="about_us_img image-2" src="../../assets/aboutus/why.svg" alt="">
      </div>
      <!-- vision text block ends here -->

    </section>
  </div>
</div>

