<div class="appointmentContainer">
  <div class="appointment_container">
    <div class="contact_details">
      <h1>Connect with us</h1>
      <div class="contact_details_section">
        <p>Chat with us</p>
        <p>Got Questions? We're Just a Chat Away!</p>
        <a href="https://whatsapp.com/channel/0029VaAlXHN42DchBmD3PW20" target="_blank">Click to chat in Whatsapp</a>
      </div>
      <div class="contact_details_section">
        <p>Call us</p>
        <p>Let’s Talk – Reach Out to Us!</p>
        <a href="tel:+919252513320">Contact : +91 925 251 3320</a>
      </div>
      <div class="contact_details_section">
        <p>Mail to us</p>
        <p>Have a question ? Mail us today!</p>
        <a href="mailto:vedangjyotishweb@gmail.com">Email: vedangjyotishweb&#64;gmail.com</a>
      </div>
      <div class="social_media">
        <a>
          <img src="../../assets/icons/facebook.png" alt="">
        </a>
        <a>
          <img src="../../assets/icons/instagram.png" alt="">
        </a>
        <a>
          <img src="../../assets/icons/x.png" alt="">
        </a>
      </div>
    </div>
    <div class="appointment_form">
      <h1>Connect with us,<br>to illuminate your path</h1>
      <form action="#">
        <div class="form_details">
          <!-- form_data class start -->
          <div class="form_data">
            <span class="details">Full Name:</span>
            <input type="text" placeholder="Enter your name">
          </div>
          <!-- form_data class end -->
          <div class="form_data">
            <span class="details">Mobile Number:</span>
            <input type="number" placeholder="Enter your number">
          </div>
          <!-- form_data class end -->
          <div class="form_data">
            <span class="details">E-mail:</span>
            <input type="email" placeholder="Enter your email address">
          </div>
          <!-- form_data class end -->
          <div class="flex_line">
            <label for="sec_ser">
              Select Service :
            </label>
            <select>
              <option value="Astrology Courses">Astrology Courses</option>
              <option value="Astrological Remedies">Astrological Remedies</option>
              <option value="General Inquiry">General Inquiry</option>
            </select>
          </div>

          <div class="message_data">
            <textarea id="text" rows="8" cols="37" placeholder="Message..."></textarea>
          </div>
          <!-- form_data class end -->
          <button type="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

