<!-- CARD CONTAINER -->
<div class="scards">
  <!-- CARD -->
  <div class="scard">
    <img src="../../assets/scards/img/pic1.jpg" alt="">
    <div class="scard__footer">
      <h2>Marriage Problems</h2>
      <p>Solution to all Kind Of <br> Marriage Challenge,<br> Divorce Issues</p>
      <div class="scard__contact">
        <p>Know More</p>
      </div>
    </div>
  </div>
  <!-- CARD ENDS -->
  <!-- CARD -->
  <div class="scard">
    <img src="../../assets/scards/img/pic1.jpg" alt="">
    <div class="scard__footer">
      <h2>Marriage Problems</h2>
      <p>Solution to all Kind Of <br> Marriage Challenge,<br> Divorce Issues</p>
      <div class="scard__contact">
        <p>Know More</p>
      </div>
    </div>
  </div>
  <!-- CARD ENDS -->
  <!-- CARD -->
  <div class="scard">
    <img src="../../assets/scards/img/pic1.jpg" alt="">
    <div class="scard__footer">
      <h2>Marriage Problems</h2>
      <p>Solution to all Kind Of <br> Marriage Challenge,<br> Divorce Issues</p>
      <div class="scard__contact">
        <p>Know More</p>
      </div>
    </div>
  </div>
  <!-- CARD ENDS -->
</div>
