<div class="the_course_container">
  <div class="the_course_banner">
    <div class="the_course_info">
      <h1>Numerology</h1>
      <p>Unlock the secret of Numbers</p>
    </div>
    <div class="the_course_image">
      <img src="../../assets/ccards/img/numerology.png" alt="">
    </div>
  </div>
  <!-- course banner ends -->
  <div class="the_course_cart">
    <p>Amount</p>
  </div>
  <!-- course cart ends -->
  <div class="the_course_intro">
    <div class="course_intro_heading">
      <h2> {{ cname }}</h2>
      <div class="course_author">
        <h3>by Shiv Purushottam Sharma</h3>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sunt id aliquam optio voluptate? Veniam deleniti quos reprehenderit quaerat eaque, ab eum quam asperiores perferendis quidem inventore sapiente accusantium et.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam doloremque fugiat soluta aliquid laudantium laboriosam voluptatem adipisci? Cupiditate inventore veniam accusamus delectus corrupti reiciendis vitae eveniet laboriosam, aspernatur voluptates aperiam.</p>
  </div>
  <div class="the_course_module">
    <div class="course_module_tabs">
      <a class="highlighted" href="#">Course Modules</a>
      <a class="greyed" href="#">Reviews</a>
    </div>
    <div class="course_modules">
      <div class="course_modules_buttons">
        <div class="mods active">Module 1</div>
        <div class="mods inactive">Module 2</div>
        <div class="mods inactive">Module 3</div>
      </div>
      <div class="course_modules_contents">
        <li>Lal kitab Grammar</li>
        <li>lal kitab theory</li>
        <li>lal kitab rules and Regualtions</li>
        <li>lal kitab 35 and 36 year cycle(Dasha)</li>
        <li>all types of Kundali planetary aspects and their effects and power</li>
        <li>significance of planets</li>
        <li>significance of Houses</li>
        <li>sign's significance friends and enemies of the planets</li>
        <li>things represented by planets</li>
        <li>planetary age and day</li>
        <li>what is each planet in each house?</li>
        <li>what is a pucca house and what is its importance?</li>
        <li>planet's activation and its importance</li>
        <li>planets of Activation Destiny</li>
        <li>how to make Varshfala?</li>
        <li>bilmukabil planets and its importance Bali ke Bakre of Kurbani ke Bakre concept</li>
        <li>+method and rules to read 1 to 12 house</li>
        <li>what is blank house?</li>
        <li>concept of sleeping houses and sleeping planets</li>
        <li>Takkar, dhoka, drashti, buniyad, achanak chot, rin ,chandra kundali</li>
      </div>
    </div>
  </div>
</div>
