.the_course_container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 1rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: max-content max-content 1fr;
  grid-gap: 1rem;
}

.the_course_banner, 
.the_course_intro,
.the_course_module {
  border-radius: 1rem;
}

.the_course_banner {
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 834 300" width="834" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="834" height="300" fill="%23ffc2c4"></rect><defs><linearGradient id="grad1_0" x1="64%" y1="0%" x2="100%" y2="100%"><stop offset="-5.599999999999998%" stop-color="%23ffc2c4" stop-opacity="1"></stop><stop offset="105.6%" stop-color="%23ffc2c4" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_0" x1="0%" y1="0%" x2="36%" y2="100%"><stop offset="-5.599999999999998%" stop-color="%23ffc2c4" stop-opacity="1"></stop><stop offset="105.6%" stop-color="%23ffc2c4" stop-opacity="1"></stop></linearGradient></defs><g transform="translate(834, 0)"><path d="M0 300C-9.4 277.4 -18.7 254.8 -34.5 261.7C-50.2 268.7 -72.2 305.2 -77.6 289.8C-83.1 274.3 -71.8 206.9 -79.6 192.2C-87.4 177.5 -114.1 215.5 -132 228.6C-149.9 241.7 -158.9 229.9 -168.6 219.8C-178.3 209.6 -188.7 201.2 -181 181C-173.4 160.8 -147.7 128.9 -159.5 122.4C-171.2 115.8 -220.2 134.6 -219.1 126.5C-218 118.4 -166.6 83.5 -177.4 73.5C-188.2 63.5 -261.1 78.4 -279.2 74.8C-297.2 71.2 -260.5 49.1 -254.8 33.5C-249.1 18 -274.6 9 -300 0L0 0Z" fill="%23f0adbe"></path></g><g transform="translate(0, 300)"><path d="M0 -300C5.5 -244.8 11 -189.6 26 -197.3C41 -205 65.4 -275.6 75.3 -281.1C85.2 -286.6 80.5 -227 84.6 -204.2C88.7 -181.3 101.7 -195.1 119.5 -207C137.3 -218.8 160 -228.7 172.9 -225.3C185.8 -221.9 188.8 -205.2 189.5 -189.5C190.2 -173.8 188.6 -159.2 196.8 -151C204.9 -142.8 222.8 -141.1 226.9 -131C230.9 -120.9 221.1 -102.5 214.3 -88.8C207.6 -75.1 203.9 -66.1 222.2 -59.5C240.5 -52.9 280.8 -48.7 297.4 -39.2C314.1 -29.6 307 -14.8 300 0L0 0Z" fill="%23f0adbe"></path></g></svg>');
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .c_rating::before { */
/*   content: url('../../../assets/ccards/img/star.svg'); */
/*   margin-right: 0.5rem; */
/*   vertical-align: -25%; */
/* } */

.the_course_info,
.the_course_image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.the_course_info h1,
.the_course_info p {
  font-family: var(--body-font);
  color: #b51f00;
  /* background-color: #4e0700; */
}

.the_course_info h1 {
  font-size: 3.4rem;
}

.the_course_info p {
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
}

.the_course_cart {
  background-color: yellow;
  min-height: 3rem;

  grid-column: 2 / 2;
  grid-row: 1 / -1;
}

.the_course_intro {
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 834 300" width="834" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="834" height="300" fill="%23f1adbe"></rect><g transform="translate(404.4582771507731 127.36996349380856)"><path d="M90.1 -99.9C112.9 -88.2 124.9 -56.2 127.7 -24.8C130.5 6.6 124.1 37.3 108.7 61.5C93.2 85.7 68.7 103.5 38.4 121.5C8 139.5 -28 157.9 -53.3 148C-78.5 138.1 -93 100.1 -99.3 67.7C-105.7 35.3 -104.1 8.6 -96.2 -13.7C-88.4 -36 -74.3 -53.9 -57.2 -66.6C-40.2 -79.2 -20.1 -86.6 6.8 -94.7C33.6 -102.8 67.3 -111.5 90.1 -99.9" fill="%23ffc2c4"></path></g></svg>');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 30rem;
  padding: 2rem;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-gap: 2rem;
}

.the_course_intro h2 {
  color: #660e00;
  font-size: 1.8rem;
}

.the_course_intro p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #660e00;
  align-self: center;

}

.course_author h3 {
  font-family: var(--body-font);
  color: #b51f00;
  font-size: 1.6rem;
}

.course_author h3::before {
  /* content: url('../../assets/ccards/img/star.svg') url('../../assets/ccards/img/star.svg') url('../../assets/ccards/img/star.svg') url('../../assets/ccards/img/star.svg') url('../../assets/ccards/img/star.svg'); */
  content: "★★★★★";
  font-size: 2rem;
  color: #FCFF4B;
  margin-right: 0.7rem;
  /* color: #f9e907; */
  /* color: gold; */
}

.the_course_module {
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="%23ffc2c4"></rect><g fill="%23f1adbe"><circle r="83" cx="739" cy="582"></circle><circle r="47" cx="747" cy="217"></circle><circle r="69" cx="868" cy="361"></circle><circle r="77" cx="496" cy="416"></circle><circle r="51" cx="438" cy="6"></circle><circle r="60" cx="607" cy="67"></circle><circle r="53" cx="140" cy="357"></circle><circle r="61" cx="381" cy="590"></circle><circle r="59" cx="89" cy="552"></circle><circle r="76" cx="286" cy="211"></circle><circle r="69" cx="234" cy="19"></circle><circle r="54" cx="687" cy="379"></circle><circle r="81" cx="43" cy="100"></circle><circle r="65" cx="893" cy="32"></circle><circle r="75" cx="457" cy="237"></circle><circle r="51" cx="573" cy="589"></circle><circle r="46" cx="297" cy="423"></circle></g></svg>');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1rem;
  background-color: #f1adbe;
  min-height: 30rem;
}

.course_module_tabs {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0 0 0;
  /* color: #fff9f8; */
  border-bottom: 2px solid #660e00;
  display: flex;
  gap: 2rem;

}

.course_module_tabs a {
  text-decoration: none;
  font-family: var(--body-font);
  font-size: 1.6rem;
  font-weight: 500;
}

.course_modules {

  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
}

.course_modules_buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.course_modules_contents {
  display: flex;
  flex-direction: column;
}

.course_modules_contents li {
  list-style-type: none;
  margin-top: 0.25rem;
  color: #861400;
  font-size: 1.5rem;
  font-weight: 600;
}

.course_modules_contents li::before {
  content: url('../../assets/ccards/img/check.svg');
  vertical-align: -30%;
}

.mods.inactive {
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #861400;
  background-color: #fbeae7;
  border-radius: 0.8rem;
}

.mods.active {
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fbeae7;
  background-color: #861400;
  border-radius: 0.8rem;
}

.highlighted {
  color: #b51f00;
}

.greyed {
  color: #715d59;
}


@media (max-width: 1440px) {
  .the_course_container {
    width: 80%;
  }
}
