<div class="appointmentContainer">
  <div class="appointment_container">
    <!-- <img src="../../assets/appointment/girl.png" alt=""> -->
    <img [src]="imageUrl" alt="">
    <div class="appointment_form">
      <h1>Celestial remedies,<br>without the hassle</h1>
      <form action="#">
        <div class="form_details">
          <!-- form_data class start -->
          <div class="form_data">
            <span class="details">Full Name:</span>
            <input type="text" placeholder="Enter your name">
          </div>
          <!-- form_data class end -->
          <div class="form_data">
            <span class="details">Mobile Number:</span>
            <input type="number" placeholder="Enter your number">
          </div>
          <!-- form_data class end -->
          <div class="form_data">
            <span class="details">E-mail:</span>
            <input type="email" placeholder="Enter your email address">
          </div>
          <!-- form_data class end -->
          <div class="flex_line">
            <label for="service">
              Select Service :
            </label>
            <select id="service" name="service" [(ngModel)]="selectedService" required>
              <option value="" disabled>Select a service</option>
              <option *ngFor="let service of services" [value]="service">{{ service }}</option>
            </select>
          </div>

          <div class="message_data">
            <textarea id="text" [rows]="textAreaRows" [cols]="textAreaCols" placeholder="Message..."></textarea>
          </div>
          <!-- form_data class end -->
          <button type="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
