<div class="d_menu">
  <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home<svg
      fill="#fff9f8"
      stroke-width="10"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/courses" routerLinkActive="active">Courses<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/services" routerLinkActive="active">Services<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/blogs" routerLinkActive="active">Blogs<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/appointment" routerLinkActive="active">Appointment<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/aboutus" routerLinkActive="active">About us<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/contactus" routerLinkActive="active">Contact us<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/myaccount" routerLinkActive="active">My Account<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
  <a routerLink="/cart" routerLinkActive="active">Cart<svg
      fill="#fff9f8"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 407.437 407.437"
      xml:space="preserve">
      <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg></a>
</div>
