<div class="d_menu">
    <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
    <a routerLink="/services" routerLinkActive="active">Services</a>
    <a routerLink="/blogs" routerLinkActive="active">Blogs</a>
    <a routerLink="/appointment" routerLinkActive="active">Appointment</a>
    <a routerLink="/aboutus" routerLinkActive="active">About us</a>
    <a routerLink="/contactus" routerLinkActive="active">Contact us</a>
    <a routerLink="/myaccount" routerLinkActive="active">My Account</a>
    <a routerLink="/cart" routerLinkActive="active">Cart</a>
</div>
