<div class="blog-container">
    <div class="blog-header">
        <h1>Latest Blog Posts</h1>
        <p class="subtitle">Explore our insights and stories</p>
    </div>

    <div class="blog-grid">
        <div class="blog-card" *ngFor="let post of bdata" (click)="navigateToPost(post.bid)">
            <div class="blog-image">
                <img [src]="'assets/blogs/' + post.img" [alt]="post.title">
                <div class="author-tag">{{post.name}}</div>
            </div>
            <div class="blog-content">
                <h2>{{post.title}}</h2>
                <p class="date">{{post.date}}</p>
                <p class="summary">{{post.sub}}</p>
            </div>
        </div>
    </div>
</div>
