<div class="review_container">
  <div class="review_contents">
    <div class="review_card">
      <div class="user_name_rating">
        <div class="user_name">
          <div class="user_avatar">
            A
          </div>
          <div class="user_title">
            <p>Arjun Thakur</p>
          </div>
        </div>
        <div class="user_rating">★★★★★ </div>
      </div>
      <!-- user name rating ends -->
      <div class="user_review">
        <p>Course helped me a lot to achieve my potentials, Great course ! 👍👍👍</p>
      </div>
      <!-- user review ends -->
      <div class="date_stamp">
        Oct 28, 2024
      </div>
    </div>
  </div>
</div>

