/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --head-font: "Cinzel", serif;
  --body-font: "Raleway", sans-serif;
}

html {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
  font-weight: 700;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #fbeae7;
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  max-width: 112rem;
  /* min-height: 150vh; */
  margin: 0 auto;
  background-color: #f6d6cf;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}


input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"],
textarea, 
select {
    /* Remove default padding, margin, and border */
    padding: 0;
    margin: 0;
    border: none;

    /* Reset background and color */
    background: transparent;
    color: inherit;

    /* Remove any default outline */
    outline: none;

    /* Remove default font styling */
    font: inherit;

    /* Set width and height to auto to avoid browser-specific sizing */
    width: auto;
    height: auto;
    
    /* Optional: Remove box-shadow */
    box-shadow: none;
    
    /* Optional: Remove appearance on some browsers (like iOS Safari) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
