/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

html {
  background-color: #fbeae7;
  font-size: 62.5%;
  height: 100%;
}

.main {
  max-width: 112rem;
  min-height: 150vh;
  margin: 0 auto;
  background-color: #f6d6cf;
  /* position: relative; */
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}


