<div class="accountContainer">
  <!-- FORMULAIRE DE CONNEXION -->
  <div class="card">
    <h2>Login Form</h2>

    <!-- SE CONNECTER / S'INSCRIRE -->
    <div class="login_register">
      <a class="login">Login</a>
      <a class="register">Signup</a>
    </div>

    <!-- FORMULAIRE -->
    <form class="form">
      <input type="email" placeholder="Email Address" class="email">
      <input type="password" placeholder="password" class="pass">
    </form>

    <!-- MOT DE PASSE OUBLIE ? -->
    <a class="fp">Forgot password?</a>

    <!-- BOUTTON LOGIN -->
    <button type="button" class="login_btn">Login</button>

    <!-- PIED DE LA CARD -->
    <div class="footer_card">
      <p>Not a member?</p>
      <a >Singup now</a>
    </div>
  </div>

</div>
